<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text>
    <h1>Welcome!</h1>
    <p>Get started by logging intro<br>your account.</p>
  </ion-text>
  <div class="actions">
    <div class="login-buttons">
      <ion-button>
        <ion-avatar>
          <img src="../../assets/icon/facebook.png">
        </ion-avatar>
        <ion-label>Facebook</ion-label>
      </ion-button>
      <ion-button>
        <ion-avatar>
          <img src="../../assets/icon/search.png">
        </ion-avatar>
        <ion-label>Google</ion-label>
      </ion-button>
    </div>
    <div class="separator">
      <span>or</span>
      <span class="line left"></span>
      <span class="line right"></span>
    </div>
    <ion-button class="signup-btn" expand="block">Signup with Email</ion-button>
    <p class="login">Existing User? <a>Login now</a></p>
  </div>
</ion-content>
